In [2]:
sozluk = {"Kategori": ["Giyim","Giyim", "Ayakkabı","Aksesuar","Ayakkabı","Giyim","Aksesuar","Aksesuar","Ayakkabı","Giyim"],
         "Ürün" : ["Kazak","T-shirt","Sandalet","Küpe","Spor Ayakkabı","Pantolon","Kolye","Yüzük","Çizme","Ceket"],
         "Fiyat" : [300,180,450,50,700,400,150,80,850,900]}

##### 1. Yukarıdaki sözlüğü bir DataFrame haline getirin.

In [3]:
import pandas as pd
df = pd.DataFrame(sozluk)
df.head(10)

   Kategori           Ürün  Fiyat
0     Giyim          Kazak    300
1     Giyim        T-shirt    180
2  Ayakkabı       Sandalet    450
3  Aksesuar           Küpe     50
4  Ayakkabı  Spor Ayakkabı    700
5     Giyim       Pantolon    400
6  Aksesuar          Kolye    150
7  Aksesuar          Yüzük     80
8  Ayakkabı          Çizme    850
9     Giyim          Ceket    900

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10 entries, 0 to 9
Data columns (total 3 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Kategori  10 non-null     object
 1   Ürün      10 non-null     object
 2   Fiyat     10 non-null     int64
dtypes: int64(1), object(2)
memory usage: 372.0+ bytes

##### 2. Aşağıdaki işlemleri dataframe üzerinde uygulayalım.
- 2.indexde bulunan kategoriyi bulalım (Sadece kategori bilgisi) 
- 2.indexde bulunan ürünü bulalım (Sadece ürün bilgisi)
- 4.indexden 9.indexe kadar olan verileri bulalım (Kategori,ürün,fiyat bilgisi beraber)
- 1.indexden 6.indexe kadar olan ürünleri bulalım (Sadece ürün bilgisi)

In [4]:
df.loc[2, "Kategori"]

'Ayakkabı'

In [6]:
df.loc[2, "Ürün"]

'Sandalet'

In [ ]:
df.iloc[4:9]

   Kategori           Ürün  Fiyat
4  Ayakkabı  Spor Ayakkabı    700
5     Giyim       Pantolon    400
6  Aksesuar          Kolye    150
7  Aksesuar          Yüzük     80
8  Ayakkabı          Çizme    850

In [ ]:
df2 = df.iloc[1:6] # 1. ile 6. satırları seç
df2[["Ürün"]] # Ürün sütununu seç

            Ürün
1        T-shirt
2       Sandalet
3           Küpe
4  Spor Ayakkabı
5       Pantolon

##### 3. Aşağıdaki işlemleri dataframe üzerinde uygulayalım.
- Giyim kategorisinde bulunan ürünleri gösterin
- Ayakkabı kategorisinde bulunan ürünleri gösterin
- Aksesuar kategorisinde bulunan ürünleri gösterin

In [ ]:
df.groupby("Kategori").size() # Kategoriye göre gruplama ve boyutunu alma

Kategori
Aksesuar    3
Ayakkabı    3
Giyim       4
dtype: int64

In [ ]:
df[df["Kategori"] == "Giyim"] # Giyim kategorisi için filtreleme

  Kategori      Ürün  Fiyat
0    Giyim     Kazak    300
1    Giyim   T-shirt    180
5    Giyim  Pantolon    400
9    Giyim     Ceket    900

In [ ]:
df[df["Kategori"] == "Ayakkabı"] # Ayakkabı kategorisi için filtreleme

   Kategori           Ürün  Fiyat
2  Ayakkabı       Sandalet    450
4  Ayakkabı  Spor Ayakkabı    700
8  Ayakkabı          Çizme    850

In [ ]:
df[df["Kategori"] == "Aksesuar"] # Aksesuar kategorisi için filtreleme

   Kategori   Ürün  Fiyat
3  Aksesuar   Küpe     50
6  Aksesuar  Kolye    150
7  Aksesuar  Yüzük     80

##### 4 Aşağıdaki işlemleri dataframe üzerinde uygulayalım.
- Giyim kategorisinde fiyatı 300'den fazla olan ürünleri gösterin
- Ayakkabı kategorisinde fiyatı 600'den az olan ürünleri gösterin
- Aksesuar kategorisinde fiyatı 100'den fazla olan aksesuarı gösterin

In [ ]:
df[(df["Kategori"] == "Giyim") & (df["Fiyat"] > 300)] # Giyim kategorisi için filtreleme

  Kategori      Ürün  Fiyat
5    Giyim  Pantolon    400
9    Giyim     Ceket    900

In [25]:
df[(df["Kategori"] == "Ayakkabı") & (df["Fiyat"] < 600)] # Ayakkabı kategorisi için filtreleme

   Kategori      Ürün  Fiyat
2  Ayakkabı  Sandalet    450

In [26]:
df[(df["Kategori"] == "Aksesuar") & (df["Fiyat"] > 100)] # Aksesuar kategorisi için filtreleme

   Kategori   Ürün  Fiyat
6  Aksesuar  Kolye    150