In [4]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

ModuleNotFoundError: No module named 'matplotlib'

In [8]:
#1
df =pd.read_csv("StudentsPerformance.csv") #dosyayı okuyalım
df.head()

,gender,race/ethnicity,parental level of education,lunch,test preparation course,math score,reading score,writing score
0,female,group B,bachelor's degree,standard,none,72,72,74
1,female,group C,some college,standard,completed,69,90,88
2,female,group B,master's degree,standard,none,90,95,93
3,male,group A,associate's degree,free/reduced,none,47,57,44
4,male,group C,some college,standard,none,76,78,75

In [9]:
#2
#kadın-erkek sayısına bakalım
df["gender"].value_counts()

gender
female    518
male      482
Name: count, dtype: int64

In [10]:
#3
#kadın-erkek sayısına histogram grafiği ile bakalım
gender_histogram = df["gender"].value_counts()
plt.bar(x = "gender", height=gender_histogram.values, data=gender_histogram)

NameError: name 'plt' is not defined

In [29]:
#4
#race/ethnicity sütununda kaç farklı grup olduğuna bakalım
df["race/ethnicity"].unique()

array(['group B', 'group C', 'group A', 'group D', 'group E'],
      dtype=object)

In [11]:
race = df["race/ethnicity"].value_counts()
race

race/ethnicity
group C    319
group D    262
group B    190
group E    140
group A     89
Name: count, dtype: int64

In [13]:
#5
#yukarıda bulduğumuzu görselleştirelim

In [11]:
#6
#parental level of education sütunundaki eşsiz değerleri bulalım
pip install matplotlib

SyntaxError: invalid syntax (2397895789.py, line 3)

In [12]:
df["parental level of education"].value_counts()

parental level of education
some college          226
associate's degree    222
high school           196
some high school      179
bachelor's degree     118
master's degree        59
Name: count, dtype: int64

In [32]:
#7
#lunch sütununda eşsiz değerlere ulaşalım
df["lunch"].unique()

array(['standard', 'free/reduced'], dtype=object)

In [33]:
#8
#lunch türlerinde kaçar kişi olduğunu bulalım
df["lunch"].value_counts()

lunch
standard        645
free/reduced    355
Name: count, dtype: int64

In [13]:
df["test preparation course"].value_counts()

test preparation course
none         642
completed    358
Name: count, dtype: int64

In [44]:
#9
#gender sütunundaki değerler için ortalama math score, reading score, writing score değerlerini bulalım.
df.groupby("gender")[["math score"]]&[["reading score"]]&[["writing score"]].mean().reset_index()

TypeError: unsupported operand type(s) for &: 'DataFrameGroupBy' and 'list'

In [8]:
#10
#race/ethnicity sütunundaki değerler için ortalama math score, reading score, writing score değerlerini bulalım.

In [3]:
#11
#parental level of education sütunundaki değerler için ortalama math score, reading score, writing score değerlerini bulalım.
pip install matplotlib

SyntaxError: invalid syntax (1698754002.py, line 3)

In [5]:
#12
#lunch sütunundaki değerler için ortalama math score, reading score, writing score değerlerini bulalım.

In [4]:
#13
#test preparation coursesütunundaki değerler için ortalama math score, reading score, writing score değerlerini bulalım.